
.itemA{ stroke: #1026FF ;}
.itemB{ stroke: #5961FF ;}
.itemC{ stroke: #9038FF ;}
.itemD{ stroke: #CB29FF ;}
.itemE{ stroke: #EA29FF ;}
.itemF{ stroke: #FF32BF ;}
.itemG{ stroke: #FF569B ;}
.itemH{ stroke: #FF313E ;}
.itemI{ stroke: #FF4013 ;}
.itemJ{ stroke: #FF7830 ;}
.itemK{ stroke: #FF9C00 ;}
.itemL{ stroke: #FFD400 ;}
.itemM{ stroke: #B9FF0C ;}
.itemN{ stroke: #40FF0F ;}
.itemO{ stroke: #3CFF9C ;}
.itemP{ stroke: #4FFFE9 ;}
.itemQ{ stroke: #26E2FF ;}
.itemR{ stroke: #0698FF ;}
.itemS{ stroke: #1560FF ;}
.itemT{ stroke: #0636FF ;}
.itemU{ stroke: #0005B2 ;}
.itemV{ stroke: #0E0061 ;}
.itemW{ stroke: #49007A ;}
.itemX{ stroke: #8000A8 ;}
.itmeY{ stroke: #C000FF ;}
