* { font-family: 'Spoqa Han Sans', 'Sans-serif'; }
h1 {
	font-size: 150%;
	text-align: center;
	color: black;
}
svg {
	display: block;
	margin: 0 auto;
	width: 1100px; 
	height: 280px; 
	border: 1px 
	solid black; 
}

.bar { 
	fill : #ccc; 
}
.bar:hover {
	fill: orange;
}
.barNum {
	font: 9pt "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-anchor: middle;
}

.axis text {
	font: 10pt "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: black;
}

.barName {
	font: 9pt "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-anchor: middle;
}
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  text-align:center;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
