svg { 
	width: 920px; 
	height: 280px; 
	border: 1px 
	solid black; 
}

.bar { 
	fill : orange; 
}

.barNum {
	font: 5pt "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-anchor: middle;
}

.axis text {
	font: 6pt "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: black;
}

.barName {
	font: 5pt "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-anchor: middle;
}