body {
  font-family: Helvetica, Arial, sans-serif;
  margin: auto;
  position: relative;
  width: 1000px;
}

form {
  position: absolute;
  right: 10px;
  top: 10px;
}

.node {
  border: solid 1px white;
  font: 11px/14px Arial, Helvetica, Geneva, sans-serif;
  overflow: hidden;
  position: absolute;
	text-align: center;
}