body {
  font: 10px sans-serif;
}

.arc path {
  stroke: #fff;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: #8894ae;
  stroke-width: 1.5px;
}