svg { 
	width: 1200px  ; 
	height: 450px ; 
	}

.bar { 
	fill : #ccc; 
	
}

.barNum {
	font: 7pt "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-anchor: middle;
	fill: orange;
	font-weight: bold;
}

.axis text {
	font: 7pt "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	stroke: grey;
}

.axis path,
.axis line {
	fill: none;
	stroke: grey;
}

.barName {
	font: 4pt "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-anchor: middle;
	font-weight: bold;

}