.link {
	stroke: #ccc;
	stroke-width: .05px;
}


.node text {
	pointer-events: none;
	font: 10px sans-serif;
	fill: rgb(120, 120, 120);
}

circle {
	fill: rgb(219, 126, 106);
}

circle.inactive {
	opacity: .3;

}

#explain {
	font: 10px "Helvetica Neue", Arial, Helvetica, sans-serif;
}