html, body, #map {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.stations, .stations svg {
  position: absolute;
}

.stations svg {
  width: 60px;
  height: 20px;
  padding-right: 100px;
  font: bold 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.stations circle {
  fill: rgba(255,0,100,0.4);

/*	stroke: black;
	stroke-width: 1px;*/
}