body {
  font-family: "Helvetica Neue", Helvetica, Arial, "돋움", sans-serif;
  height: 100%;
}

form {
  position: absolute;
  right: 10px;
  top: 10px;
}

.node {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}

a {
  color: orange;
  text-decoration: none;
}

rect.bordered {
  stroke: #fff;
  stroke-width:2px;
}

text {
  font-size: 8pt;
  font-family: "Helvetica Neue", Helvetica, Arial, "돋움", sans-serif;
  fill: #333;
}

text.mono {
  font-size: 8pt;
  font-family: "Helvetica Neue", Helvetica, Arial, "돋움", sans-serif;
  fill: #aaa;
}

text.axis-workweek {
  font-size: 8pt;
  font-family: "Helvetica Neue", Helvetica, Arial, "돋움", sans-serif;
  fill: #333;
}

text.axis-worktime {
  font-size: 8pt;
  font-family: "Helvetica Neue", Helvetica, Arial, "돋움", sans-serif;
  fill: #333;
}

h1 {
  font-weight: 600;
  margin: 0 0 10px 0;
}

h2 {
  margin: 30px 0 10px 0;
}

p {
  font-size: 12px;
  margin: 0 10px 15px 0;
  display: inline-block;
}

div#heatmap {
  padding: 0;
  margin: 0;
}

div#legend {
  width: 370px;
  position: relative;
  /*border: 1px solid #aaa;*/
  padding: 10px;
  background-color: #fff;
}

div#g1 {
  width: 10px;
  height: 10px;
  background-color: #9a73b9;
  -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
  display: inline-block;
  margin: 0 5px 0 0;
}

div#g2 {
  width: 10px;
  height: 10px;
  background-color: #9382d6;
  -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
  display: inline-block;
  margin: 0 5px 0 0;
}

div#g3 {
  width: 10px;
  height: 10px;
  background-color: #8491d9;
  -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
  display: inline-block;
  margin: 0 5px 0 0;
}

div#g4 {
  width: 10px;
  height: 10px;
  background-color: #7bb6d1;
  margin: 5px 0 0 0;
  -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
  display: inline-block;
  margin: 0 5px 0 0;
}

div#g5 {
  width: 10px;
  height: 10px;
  background-color: #cbd7a6;
  margin: 5px 0 0 0;
  -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
  display: inline-block;
  margin: 0 5px 0 0;
}

div#g6 {
  width: 10px;
  height: 10px;
  background-color: #c7ab87;
  margin: 5px 0 0 0;
  -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
  display: inline-block;
  margin: 0 5px 0 0;
}

div#g7 {
  width: 10px;
  height: 10px;
  background-color: #c08f7a;
  margin: 5px 0 0 0;
  -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
  display: inline-block;
  margin: 0 5px 0 0;
}