body {
	font-family: sans-serif;
	margin: auto;
	position: relative;
	width: 960px;
}
.node {
	border: solid 1px white;
	font: 10px/12px sans-serif;
	overflow: hidden;
	position: absolute;
	/*위 아래도 가운데로 맞춰줘야 하는데 이걸로 부족함
	그래서 js코드 상에서 추가 구현이 필요함*/
	text-align: center;
	}