svg {
	border: 1px
	solid black;
}

body {
	font: 11px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.x.axis path {
  stroke: #black;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 3px;
}

.datapoint: hover {
	fill: steelblue;
}
