svg {
	width: 1000px;
	height: 500px;
	border: 1px solid black;
}.bar {
	fill : #ccc;
}.barNum {
	font: 7.5pt "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-anchor: middle;
}.axis text {
	font: 10pt "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}.axis path, .axis line {
	fill: none;
	stroke: black;
}.country {
	font: 9pt "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-anchor: end;
}